!!! 5
%html
	%head
		%meta{charset: 'utf-8'}
		%meta{name:"viewport",content:"width=device-width,initial-scale=1.0,minimal-ui"}
		%title ねぎ姉さん リーダー
		%script{src:"js/jquery.min.js",type:"text/javascript"}
		%script{src:"js/jquery.bottom-1.0.js",type:"text/javascript"}
		%script{src:"js/jquery.inview.min.js",type:"text/javascript"}
		%script{src:"js/bootstrap.min.js",type:"text/javascript"}
		%link{rel:'stylesheet',href:'css/bootstrap.min.css'}
		%link{rel:'stylesheet',href:'css/bootstrap-glyphicons.css'}
		:css
			html, body {
				height: 100%;
			}
			img {
				width: 100%;
				margin-top: 4.0em;
				margin-bottom: 120%;
			}
			a, a:hover, a:visited, a:active {
				color: #68e5e5;
			}
			nav {
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				background-color: black;
				color: white;
			}
			div#content {
				height: 100%;
				overflow: scroll;
			}
			div#loading {
				display: none;
				padding-bottom: 1em;
			}
		:coffeescript
			window.onerror = (error, url, line) -> alert error

			class NegineesanReader
				busy: false
				max: 1206
				pos: null
				mutations: [
					['245', 'UNK', '246'],
					['692', '693a', '693b', '693c', '694', '695a', '695b', '695c', '695d', '696a', '696b', '696c', '696d', '697']
				]
				log: (msg)->
					$('#debug').append $('<li>').html(msg)
				url: (num)->
					url = 'http://negineesan.com/comics/negi/negi'
					if num < 1000
						url += @pad(num, 3)
					else if match = num.toString().match(/(.+)a$/)
						url += match[1]
					else if num == 'UNK'
						url += '248unk'
					else
						url += num.toString()
					url += '.jpg'
					url
				num: (num)->
					if num
						window.location.hash = num.toString()
						$('#num').html('<strong>' + num + '</strong> 話')
						$('title').html('ねぎ姉さん リーダー ' + num + ' 話')
					else
						match = window.location.hash.match(/^#(.+)/)
						if match then match[1] else 1
				mutation: (num)->
					mutation = null
					@mutations.forEach (_mutation)->
						index = _mutation.indexOf(num)
						mutation = {array: _mutation, index: index} if index != -1
					mutation
				next: ()->
					mutation = @mutation(@num())
					if mutation && mutation.array[mutation.index + 1]
						mutation.array[mutation.index + 1]
					else
						parseInt(@num()) + 1
				prev: ()->
					mutation = @mutation(@num())
					if mutation && mutation.array[mutation.index - 1]
						mutation.array[mutation.index - 1]
					else
						parseInt(@num()) - 1
				pad: (num, len)->
					(Array(len).join('0') + num).slice(-len)
				add: (num)->
					@busy = true
					$('#num').html('<strong>' + num + '</strong> 話 ...')
					img = $('<img>')
					img.attr 'src', @url(num)
					img.attr 'data-num', num
					img.on 'inview', ()=>
						@num img.attr('data-num')
					img.on 'load', ()=>
						$('#content').append img
						$('#num').html('<strong>' + num + '</strong> 話')
						@busy = false
					img.on 'touchstart', (e)=>
						@pos = e.originalEvent.changedTouches[0].pageX
					img.on 'touchend', (e)=>
						return if @busy
						end = e.originalEvent.changedTouches[0].pageX
						diff = @pos - end
						if Math.abs(diff) > 100
							num = parseInt img.attr('data-num')
							if @lr() == 'lr'
								return if num <= 1 && diff > 0
								@add (if diff < 0 then @next() else @prev())
							else
								return if num <= 1 && diff < 0
								@add (if diff > 0 then @next() else @prev())
							$('img').remove()
							window.scrollBy 0, document.height * (-1)
				lr: (mode)->
					if mode
						window.localStorage.setItem('lr', mode)
						$('#lr').html if @lr() == 'lr' then '左右' else '右左'
					else
						window.localStorage.getItem('lr') || 'rl'


			$(document).on 'ready', ()->
				reader = new NegineesanReader()
				$('#content').bottom().on 'bottom', ()->
					return if reader.busy
					reader.add reader.next()
				$('#random').on 'click', ()->
					$('img').remove()
					num = Math.floor(Math.random() * reader.max) + 1
					reader.add(num) if !reader.busy
				$('#toggle-lr').on 'click', ()->
					reader.lr if reader.lr() == 'lr' then 'rl' else 'lr'

				reader.add reader.num()
				reader.lr reader.lr()
	%body
		%nav.navbar.navbar-fixed-top
			%div.container{style:'padding-top:0.5em'}
				%a#top{href:'http://negineesan.com/',target:'_blank'} ねぎ姉さん
				リーダー
				%span#num 読み込み中
				%span.pull-right
					%a#random{href:'#'} ■
					&nbsp;&nbsp;&nbsp;&nbsp;
					%a{"data-toggle"=>"modal","data-target"=>"#help","href"=>'#'} ?
		%div#content
		%div.modal.fade#help{"tabindex"=>"-1","role"=>"dialog","aria-labelledby"=>"modalLabel","aria-hidden"=>"true"}
			%div.modal-dialog
				%div.modal-content
					%div.modal-header
						%button.close{"type"=>"button","data-dismiss"=>"modal"}
							%span{"aria-hidden"=>"true"} &times;
							%span.sr-only Close
						%h4.modal-title#modalLabel ヘルプ
						%div.modal-body
							%table.table
								%tr
									%td
										%strong#lr 左右
									%td
										前の話／次の話へ
										%a#toggle-lr{href:'#'} 切替
								%tr
									%td
										%strong 下
									%td 次の話を継ぎ足す
								%tr
									%td
										%strong ■
									%td ランダム
